@font-face {
  font-family: LeagueMono;
  src: url("/LeagueMono-VF.woff2");
  font-display: auto;
}

:root, html {
  font-family: 'LeagueMono', sans-serif;
  font-size: min(2pt + 1.7vmin, 28pt);
}

::selection {
  background-color: #00f2f2;
  color: black;
}

[hidden] {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

[data-theme="public"] {
  font-variation-settings: 'EXPO' 45;
  background-color: black;
  color: white;
}

[data-theme="private"] {
  font-variation-settings: 'EXPO' -15;
  background-color: white;
  color: black;
}

[data-theme="internal"] {
  background-color: #00f2f2;
  color: black;
  font-variation-settings: 'EXPO' 5;
}

[data-theme="internal"] button {
  background-color: black;
  color: white;
}
